{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Personal Number</th>
                <th>Residency</th>
                <th>Phone</th>
                <th>Role Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.personal_number }}</td>
                <td>{{ user.residency }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                    <a href="{{ url_for('user_bp.edit_user', id=user.id) }}" class="btn btn-sm btn-warning">
                        <span class="fa fa-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('user_bp.remove_user', id=user.id) }}" class="btn btn-sm btn-danger">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}