{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="container d-flex align-items-center justify-content-center">
    <h1>Главная страница сайта </h1>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Personal Number</th>
                <th>Residency</th>
                <th>Phone</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.personal_number }}</td>
                <td>{{ user.residency }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.role.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}