{% extends 'base.html' %}

{% block title %}
Создание пользователя
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_info.css') }}">
{% endblock %}


{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 60vh;">
    <div class="container d-flex align-items-center justify-content-center">
        <div style="max-width: 600px;">

                <h3 class="card-title text-center mb-4">Добавление студентов</h3>
                <div class="userInfo">
                    <form name="createUserForm" method="post" enctype="multipart/form-data"
                          class="form-control d-flex flex-column gap-2">
                        {{ form.csrf_token }}
                        {{ form.name(class="form-control", placeholder="ФИО") }}
                        {{ form.login(class="form-control", placeholder="Логин") }}
                        {{ form.password(class="form-control", placeholder="Пароль") }}
                        {{ form.confirm_password(class="form-control", placeholder="Подтверждение пароля") }}
                        {{ form.role(class="form-control", placeholder="Роль") }}
                        {{ form.personal_number(class="form-control", placeholder="Личный номер") }}
                        {{ form.residency(class="form-control", placeholder="Место проживания") }}
                        {{ form.phone(class="form-control", placeholder="Номер телефона") }}
                        {{ form.submit(class="btn btn-success")}}
                    </form>
                </div>

        </div>
    </div>
</div>
{% endblock %}
