{% extends 'base.html' %}
{% block title %}
Изменение пароля
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='user_info.css') }}">
{% endblock %}


{% block body %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 60vh;">
    <div class="container d-flex align-items-center justify-content-center">
        <div style="max-width: 600px;">
                <h3 class="card-title text-center mb-4">Изменение пароля</h3>
                <div class="userInfo">
                    <form name="PasswordChangeForm" method="post" enctype="multipart/form-data"
                          class="form-control d-flex flex-column gap-2">
                        {{ form.csrf_token }}
                        {{ form.old_password(class="form-control", placeholder="Старый пароль") }}
                        {{ form.new_password(class="form-control", placeholder="Новый пароль") }}
                        {{ form.confirm_password(class="form-control", placeholder="Подтверждение пароля") }}
                        {{ form.submit(class="btn btn-success")}}
                    </form>
                </div>

        </div>
    </div>
</div>
{% endblock %}
